name: DevOps Day 8 CI

on:
  push:
    branches:
      - main
      - feature-shell-update

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run shell script
        run: |
          chmod +x hello.sh
          ./hello.sh
